<form
  [formGroup]="ownerForm"
  (ngSubmit)="saveOwner()"
  class="owner-form">



  <div class="container">



  <div class="form-row">

    <div class="form-group">

      <label>
        Name<span>*</span>
      </label>

      <input
        type="text"
        formControlName="name"
        placeholder="What is your title?">

    </div>


    <div class="form-group">

      <label>Email Address</label>

      <div class="input-with-icon">

         <img  src="icons/mail.png"/>

        <input
          type="email"
          formControlName="email"
          placeholder="What is your title?">

      </div>

    </div>

  </div>



  <div class="form-row">

    <div class="form-group">

      <label>Mobile</label>

      <div class="mobile-input">

        <div class="country-code">

<img src="icons/egypt.png"/> 
         <span>+20</span>

          <img class="arrow-number" src="icons/arrowdown.png" />
        </div>

        <input
          type="text"
          formControlName="mobile"
          placeholder="Enter Mobile Number">

      </div>

    </div>


    <div class="form-group add-phone-container">

      <button
        type="button"
        class="add-phone"
        >

       <img  src="icons/plusblack.png" alt="ds"  />


<span>      Add Phone</span>
      </button>

    </div>

  </div>



  <div class="form-group full-width">

    <label>Project</label>

    <div class="select-wrapper">

<img  src="icons/building.png"/>
      <select formControlName="project">

        <option value="">Select Project</option>
        <option value="project1">Project 1</option>
        <option value="project2">Project 2</option>

      </select>

    </div>

  </div>



  <div class="form-row">

    <div class="form-group">

      <label>BUA</label>

      <div class="input-with-info">

        <input
          type="text"
          formControlName="bua"
          placeholder="Enter BUA">

        <span>?</span>

      </div>

    </div>


    <div class="form-group">

      <label>Phase</label>

      <div class="input-with-info phase-input">

        <input
          type="text"
          formControlName="phase"
          placeholder="Phase">

        <span>?</span>

      </div>

    </div>

  </div>



  <div class="form-group code-field">

    <label>Code</label>

    <div class="input-with-info">

      <input
        type="text"
        formControlName="code"
        placeholder="Enter Code">

      <span>?</span>

    </div>

  </div>





  <div class="form-row">

    <div class="form-group">

      <label>Category</label>

      <div class="select-wrapper">

        <select formControlName="category">

          <option value="">Select category</option>
          <option value="owner">Owner</option>
          <option value="investor">Investor</option>

        </select>

      </div>

    </div>


    <div class="form-group">

      <label>Property type</label>

      <div class="select-wrapper">

        <select formControlName="propertyType">

          <option value="">Select Property</option>
          <option value="apartment">Apartment</option>
          <option value="villa">Villa</option>
          <option value="chalet">Chalet</option>

        </select>


      </div>

    </div>

  </div>



  <div class="form-group notes-group">

    <label>Notes</label>

    <textarea
      formControlName="notes"
      placeholder="Enter your comment here...">
    </textarea>

  </div>


  <!-- Footer -->

  <div class="form-footer">

    <button
      type="button"
      class="cancel-btn"
      (click)="close()">

      Cancel

    </button>

    <button
  type="submit"
  class="save-btn"
  [disabled]="ownerForm.invalid">

  Save Owner

</button>

  </div>

    </div>


</form>