.tnzeem {
  display: flex;
  align-items: stretch; 
  gap: 15px;            
  width: 100%;
  padding: 10px 0;
}

app-lead-search {
  width: fit-content;
  flex-shrink: 0;
}

app-lead-tabs {
  flex: 1;
  min-width: 0;
  display: block; 
}

app-lead-filter {
  width: fit-content;
  flex-shrink: 0;
}