section {
  margin-top: 5px;
  margin-left: 5px;
  color: #344054;
  font-size: 16px;
}





.tab-lead {
  width: max-content;
  height: 50px;

  display: flex;
  align-items: center;

  color: #344054;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  background-color: white;
}




.tab-lead h6 {
  flex: 0 0 auto;

  height: 100%;
  margin: 0;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;

  color: #344054;
  border-right: 1px solid #D0D5DD;
}

.tab-menu {
  width: 50px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

.tab-menu img {
  width: 20px;
  height: 20px;
  display: block;
}