<header>

    <h4 class="lead">Leads</h4>
    <div class="header">
          <p class="manag-lead">
             Manage your team members and their account permissions here.
          </p>
           <div class="action-button">
            <button class="import"> 
                <img src="assets/icons/upload.png" alt="">
                Import Leads
            </button>
         
              <button
  class="plus"
  type="button"
  (click)="openCreateLead()">

  <img src="assets/icons/upload.png" alt="">
  Create Lead

</button>



@if (isCreateLeadOpen) {

  <div
    class="sidebar-overlay"
    (click)="closeCreateLead()">
  </div>

  <div class="create-lead-sidebar">
    
<app-create-lead-header
      (closed)="closeCreateLead()">
    </app-create-lead-header>

       <app-create-lead-cforms></app-create-lead-cforms>


  </div>

}




           </div>
    </div>

</header>
