<header>

    <h4 class="lead">Leads</h4>
    <div class="header">
          <p class="manag-lead">
             Manage your team members and their account permissions here.
          </p>
           <div class="action-button">
            <button class="import"> 
                <img src="assets/icons/upload.png" alt="">
                Import Leads
            </button>
            <button  class="plus"> 
                
              <img src="/assets/icons/plus.png" alt="photo" />

                 Create Lead</button>

           </div>
    </div>

</header>
