<div class="bg-white shadow-sm">
  @if (data() && data().length === 0) {
    <div class="bg-white d-flex flex-column justify-content-center align-items-center vh-100">
      <i class="bi bi-inbox fs-1 text-muted"></i>
      <p class="text-muted small mt-2">No Owners Found</p>
    </div>
  } @else {
    <p-table
      [value]="data()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="loading()"
      [columns]="columns()"
      styleClass="p-datatable-sm"
    >
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col.key) {
            <th class="small text-uppercase text-secondary bg-light-subtle table-header-tracking">
              {{ col.label }}
            </th>
          }
          <th class="small text-uppercase text-secondary bg-light-subtle table-header-tracking"></th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
        <tr class="text-center">
          @for (col of columns; track col.key) {
            <td>{{ rowData[col.key] }}</td>
          }
          <td>
            <div class="opacity-0">
              <app-shared-button
                [buttonText]="'Preview'"
                [buttonClass]="'btn primary'"
                data-bs-toggle="offcanvas"
                data-bs-target="#ownerSidebar"
                (click)="rowSelected.emit(rowData)"
              />
              <app-shared-button
                [buttonIcon]="'bi bi-trash text-danger'"
                [buttonClass]="'btn outline'"
                (click)="deleteRow.emit(rowData)"
              />
              <app-shared-button
                [buttonIcon]="'bi bi-pencil text-warning'"
                [buttonClass]="'btn outline'"
                (click)="editRow.emit(rowData)"
                data-bs-toggle="offcanvas"
                data-bs-target="#createOwnerSidebar"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
