<div class="bg-white shadow-sm">
  @if (data() && data().length === 0) {
    <div class="bg-white d-flex flex-column justify-content-center align-items-center vh-100">
      <i class="bi bi-inbox fs-1 text-muted"></i>
      <p class="text-muted small mt-2">No Owners Found</p>
    </div>
  } @else {
    <p-table
      [value]="data()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="loading()"
      [columns]="columns()"
      styleClass="p-datatable-sm"
    >
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col.key) {
            <th class="small text-uppercase text-secondary bg-light table-header-tracking">
              {{ col.label }}
            </th>
          }
          <th class="small text-uppercase text-secondary bg-light table-header-tracking"></th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
        <tr class="text-center">
          @for (col of columns; track col.key) {
            @if (
              col.key === 'probertyType' ||
              col.key === 'project' ||
              col.key === 'stage' ||
              col.key === 'currentActoin'
            ) {
              <td>
                <span class="badge bg-light text-dark rounded-pill border px-2 py-1 fw-normal">{{
                  rowData[col.key]
                }}</span>
              </td>
            } @else if (col.key === 'assigendTo') {
              <td>
                <div class="d-flex align-items-center gap-2">
                  <img [src]="imgSrc" class="rounded-circle" width="30" height="30" alt="avatar" />
                  <span class="small fw-semibold">{{ rowData[col.key] }}</span>
                </div>
              </td>
            } @else {
              <td>{{ rowData[col.key] }}</td>
            }
          }
          <td>
            <button
              type="button"
              class="btn btn-primary m-3 opacity-0"
              data-bs-toggle="offcanvas"
              data-bs-target="#ownerSidebar"
            >
              Preview
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
