button{
    background-color: #101828;
    disqlay: flex;
    justify-content: center;
    border-color: transparent;
    width: 100px;
    height: 85%;
   
    margin: -2px 13px 0;
    color: white;
    // BORDER: 1PX SOLID #D0D5DD;
    border-radius: 8px;
}