button{
    background-color: #101828;
    disqlay: flex;
    justify-content: center;
    width: 80px;
    font-family: 'Inter';
    height: 70%;
    color: white;
    // BORDER: 1PX SOLID #D0D5DD;
    border-radius: 8px;
}