.tab-lead {
  width: fit-content;
  color: #344054;
  padding: 10px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  
}