<app-shared-button
  class="back-btn"
  [buttonText]="'back to Owners'"
  [buttonClass]="'neutral outline'"
  [buttonIcon]="'bi bi-arrow-left'"
  (click)="navigateToOwners()"
/>

<div class="d-flex align-items-center justify-content-between">
  <!-- Owner details -->
  <div class="info-text d-flex align-items-center justify-content-center gap-2">
    <div>
      <h3 class="mb-0">{{ owner()?.name }}</h3>
      <p class="owner-mob mt-0">{{ owner()?.phone }}</p>
    </div>
    <app-shared-button [buttonIcon]="'bi bi-share'" [buttonClass]="'basic p-1'" />
  </div>
  <!-- End Owner Details -->
  <!-- Action and Taps Buttons -->
  <div class="d-flex gap-2 align-items-center">
    @for (btn of actionButtons; track $index) {
      <app-shared-button
        [buttonText]="btn.text"
        [buttonClass]="btn.class"
        [buttonIcon]="btn.icon"
      />
    }
  </div>
</div>
<div class="button-container card flex-row align-items-center gap-2 p-1 mb-3">
  @for (btn of tabsButtons; track $index) {
    <button class="btn tag-btn">{{ btn }}</button>
  }
</div>
<!-- End Action and Taps Buttons -->
<hr />
<!-- Owner Info -->
<div class="owner-info d-flex align-items-center justify-content-between my-4">
  <h3>Owner Info</h3>
  <app-shared-button [buttonClass]="'neutral outline'" [buttonIcon]="'bi bi-chevron-up'" />
</div>
<!-- Card -->
<div class="info-card bg-white">
  <div class="row row-cols-2 g-4">
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between border-end">
      <span class="field-label">Lead Name</span>
      <span class="field-value">
        @if (owner()?.name) {
          {{ owner()?.name }}
        } @else {
          No Data
        }
      </span>
    </div>

    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Email Address</span>
      <span class="field-value">
        @if (owner()?.email) {
          {{ owner()?.email }}
        } @else {
          No Data
        }
      </span>
    </div>
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between border-end">
      <span class="field-label">Mobile</span>
      @if (owner()?.phone) {
        <div class="d-flex align-items-center gap-2 field-value">
          <i class="bi bi-telephone-fill text-secondary"></i>
          <i class="bi bi-whatsapp text-success"></i>
          <i class="bi bi-telegram text-info"></i>
          <span>{{ owner()?.phone }}</span>
        </div>
      } @else {
        <span class="field-value">No Data</span>
      }
    </div>

    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Project</span>
      <span class="field-value">
        @if (owner()?.projectId) {
          {{ owner()?.projectId }}
        } @else {
          No Data
        }
      </span>
    </div>
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between border-end">
      <span class="field-label">Seller Request</span>
      <span class="field-value">
        @if (owner()?.phase) {
          {{ owner()?.phase }}
        } @else {
          No Data
        }
      </span>
    </div>

    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Stage</span>
      <app-shared-tag
        [tagText]="owner()?.phase ? owner()?.phase : 'No Data'"
        [tagStatus]="'success'"
      />
    </div>
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between border-end">
      <span class="field-label">Creation Date</span>
      <span class="field-value">
        @if (owner()?.category) {
          {{ owner()?.category }}
        } @else {
          No Data
        }
      </span>
    </div>

    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Last Update</span>
      <span class="field-value">
        @if (owner()?.category) {
          {{ owner()?.category }}
        } @else {
          No Data
        }
      </span>
    </div>
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Sales Rep</span>
      @if (owner()?.name && owner()?.email) {
        <div class="d-flex flex-column justify-content-center align-items-center">
          <span class="field-value mb-0">{{ owner()?.name && owner()?.email? owner()?.name : 'No Data' }}</span>
          <span class="sales-rep-email mt-0">{{ owner()?.name && owner()?.email? owner()?.email : 'No Data' }}</span>
        </div>
      } @else {
        <span class="field-value mb-0">No Data</span>
      }
    </div>
  </div>
</div>
<!-- End Owner Info -->
<!-- Other Info -->
<div class="owner-info d-flex align-items-center justify-content-between my-4">
  <h3>Other Info</h3>
  <app-shared-button [buttonClass]="'neutral outline'" [buttonIcon]="'bi bi-chevron-up'" />
</div>
<!-- Card -->
<div class="info-card bg-white">
  <div class="row row-cols-2 g-4">
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between border-end">
      <span class="field-label">BUA</span>
      <span class="field-value">
        @if (owner()?.bua) {
          {{ owner()?.bua }}
        } @else {
          No Data
        }
      </span>
    </div>

    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Phase</span>
      <app-shared-tag
        [tagText]="owner()?.phase ? owner()?.phase : 'No Data'"
        [tagStatus]="'neutral'"
      />
    </div>
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between border-end">
      <span class="field-label">Code</span>
      <span class="field-value">
        @if (owner()?.code) {
          {{ owner()?.code }}
        } @else {
          No Data
        }
      </span>
    </div>

    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Category</span>
      <span class="field-value">
        @if (owner()?.category) {
          {{ owner()?.category }}
        } @else {
          No Data
        }
      </span>
    </div>
    <!-- ########################################-->
    <div class="col d-flex align-items-center justify-content-between">
      <span class="field-label">Property Type</span>
      <span class="field-value">
        @if (owner()?.propertyType) {
          {{ owner()?.propertyType }}
        } @else {
          No Data
        }
      </span>
    </div>
  </div>
</div>
<!-- End Other Info -->
<!-- Notes -->
<div class="owner-info d-flex align-items-center justify-content-between my-4">
  <h3>Notes</h3>
  <app-shared-button [buttonClass]="'neutral outline'" [buttonIcon]="'bi bi-chevron-up'" />
</div>
<div class="info-card bg-white">
  <p>This is the owner information card.</p>
</div>
