<app-header
  [headerName]="title"
  [headerDescription]="description"
  [headerActions]="actions"
  (actionClicked)="handleActionClicked($event)"
/>
<!-- Filteration Tabs -->
<div class="d-flex justify-content-between align-items-center p-3 bg-white">
  <app-taps />
  <app-filteration />
</div>
<!-- End of Filteration Tabs -->
<app-shared-table [columns]="columns" [data]="data" />

<!-- Sidebar for details -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="ownerSidebar">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body p-4 bg-light">
    <app-owner-details [owner]="owner" />
  </div>
</div>
<!-- End of It -->