
  <app-header
    [headerName]="title"
    [headerDescription]="description"
    [headerActions]="actions"
    (actionClicked)="handleActionClicked($event)"
  />
  <div class="d-flex justify-content-between align-items-center p-3 bg-white">
    <app-taps />
    <app-filteration />
  </div>
  <!-- <app-table /> -->
  <app-shared-table
    [columns]="columns"
    [data]="data"
  />
  <!-- <app-paginator class="rounded-bottom-2" /> -->
  <!-- <app-footer /> -->
   <!-- <nav class="bg-light">
    <ul class="nav">
      <li class="nav-item border-bottom border-primary">
        <a class="nav-link active" href="#">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Report</a>
      </li>
    </ul>
  </nav> في حالة لو حبينا نرجعهم تاني او ننقلهم في component جديد--> 

