:root {
    --primary-color: #4c64ff;
    --secondary-color: #6c757d;
    --success-color: #198754;
    --link-color: #eaecf0;
    --danger-color: #dc3545;
    --neutral-color: #101828;
    --basic-color: #fff;
}
.btn {
  border-radius: 8px;
  padding: 10px 18px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}
.success {
  background-color: var(--success-color);
  border: 1px solid var(--success-color);
  color: #fff;
}
.primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}
.secondary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
}
.link {
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
}
.danger {
  background-color: var(--danger-color);
  border: 1px solid var(--danger-color);
  color: #fff;
}
.neutral {
  background-color: var(--neutral-color);
  border: 1px solid var(--neutral-color);
  color: #fff;
}
.basic{
    background-color: var(--basic-color);
    border: 1px solid #ccc;
    color: #333;
}
.outline {
  background-color: transparent;
  color: inherit;
  border : none;
}
